body{
    font-family: Microsoft YaHei;
    overflow: hidden;
}
.clear{
   clear: both;
}
header{
    background: #1a1a1a;
}
.contactBox{
    display: inline-block;
    float: right;
    color:white;
    margin-top: 10px;
}

.contactBox div{
    height: 30px;
    line-height: 30px;
}
.phone{
    margin-top: 4px;
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../images/phone2.png) no-repeat;
    background-size: 100% 100%;
}
.addr{
    margin-top: 4px;
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../images/icon_ty-gps.png) no-repeat;
    background-size: 100% 100%;
}
.contactBox div span{
    float: left;
    margin-right: 5px;
    font-size: 18px;
}
.navLik a{
  display: inline-block;
  color:#333;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding:0px 45px;
  position: relative;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.swiper-container {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.bannerBox{
    position: relative;
    width: 100%;;
}
.swiper-slide img{
    display: block;
    width:100%;
}
.wordFrame{
    position: absolute;
    top:20%;
    left:0px;
    width: 100%;
    text-align: center;
    color:white;
    z-index: 100000;
}
.formBox{
    background: #873790;
    padding:20px 0px;
}
.titleLabel{
    color:#fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.inputBox{
    padding:10px 30px;
}
.inputBox input,.inputBox select{
    width:100%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border:0px;
    text-indent: 15px;
}
.radioLable{
    float: left;
    margin-right: 30px;
}
.radioLable input{
    float: left;
    width: 25px;
    height: 25px;
}
.radioLable i{
    margin-left: 5px;
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    color:white;
    font-style: normal;
    font-size: 16pxl
}
.inputBox p{
    color:white;
    font-size: 20px;
}
.bomCheck{
    margin-top: 20px;
    border-top: 1px solid #9853a3;
    padding-top: 15px;
}
.blackBtn{
    float: right;
    width: 200px;
    height: 50px;
    background: #181f27;
    color:white;
    line-height: 50px;
    text-align: center;
    display: block;
}
.boxNmse{
    color:#333;
    border-bottom: 1px solid #333;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding:0px 5px;
}
.boxNmse .leftName{
    float: left;
    font-size: 18px;
}
.boxNmse .rightName{
    float: right;
}
.boxNmse .rightName a{
    color:#333;
}
.inside img{
    display: block;
    width:100%;
}
.btName{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 5px;
}
.bomBx .leftbx,.bomBx .rightbx{
    float: left;
    width:50%;
}
.bomBx .leftbx p{
    margin-top: 15px;
  
}
.price b{
    font-size: 20px;
}
.price i{
    font-style: normal;
    font-size: 12px;
    color:gray;
}
.rightbx a{
    padding:10px 15px;
    background: #2581fe;
    color:white;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    margin-top: 15px;
   
}
.bomBx{
    padding:5px;
}
.inside,.detailImg,.tipBox{
    border:1px solid #eee;
  
   
}
.tipBox{
    height: 240px;
}
.detailImg {
    height: 240px;
    /* overflow: hidden; */
}
.detailImg img{
    height:100%;
    width: 100%;
}
.tname h2{
  font-size: 16px;
  color:#15cb98;
  font-weight: bold;
}
.tname p{
    font-size: 12px;
    color:gray;
}
.tname{
    text-align: center;
}
.moreInfo{
    width: 100%;
    display: block;
    height: 70px;
    line-height: 70px;
    background:#15cb98;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
}
.graySp{
    color:gray;
    padding:5px 0px;
}
footer{
    padding:20px 0px;
    background: #343434;
    text-align: center;
    margin-top: 10px;
}
.ftBox{
    color:white;
}
.ftBox p{
    font-size: 14px;
    margin-top: 10px;
}
.reatbox{
    color:white;
    padding-bottom: 20px;
}
footer{
    background: #343434;
    padding:40px 0px;
}

.reatbox img{
    float: left;
    width: 50px;
}
.hcont{
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.copyright{
    background: white;
    text-align: center;
    color:gray;
    height: 50px;
    line-height: 50px;
}
.listWrap{
    margin: 0px auto;
    margin-top: 10px;
    background:white;
    padding:5px 10px;
}
.listName{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.listName .sname{
    float: left;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}
.listName .rname{
   float: right;
   padding-right: 10px;
}
.twoTitle{
    /* height: 40px; */
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.twoTitle span{
    font-size: 18px;
    font-weight: bold;
}
.twoTitle a{
    padding:5px 15px;
    background: #2581fe;
    color:white;
}
.seltct{
    background: gold !important;
}
.primg img{
    display: block;
    width:100%;
}
.wordcar h2{
    font-size: 16px;
    font-weight: bold;
    color:#1a1a1a;
}
.wordcar p{
    color:gray;
}
.wordcar .ysproce span{
   font-size: 20px;
   color:#f87209;
}
.dayProce{
    font-size: 14px;
    margin-top: 30px;
}
.dayProce span{
   color: #f87209;
   font-size: 24px;
   font-weight: bold;
}
.chooseDian{
    padding:10px 15px;
    background: #0088cc;
    color:white;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}
.listDetail .col-md-6{
    border-bottom: 1px dashed #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.mxWrap{
    margin-top: 10px;
    /* background: white; */
    padding:10px 20px;
}
.hotlist{
    background: white;
}
.hotname{
    text-indent: 20px;
    height: 50px;
    line-height: 50px;
    color:#999;
}
.hotname span{
    font-size: 18px;
    font-weight: bold;
    color:#0985cb;
    margin-right: 10px;
}
.hotlist ul li{
    margin-top: 10px;
    padding:10px 20px;
    border-bottom: 1px dashed #eee;
}
.hotlist ul li img{
    display: block;
    width: 100%;
}
.liname{
    color:#aaa;
    font-size: 14px;
    text-align: center;
}
.liname b{
    font-size: 16px;
    color: #0985cb;
}
.liname span{
   color: #f87209;
   font-weight: bold;
   font-size: 24px;
}
.cardBoxWrap{
    background: white;
    padding:20px;
}
.cbBox{
    padding:10px 10px;
}
.cbBox .cblsf{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color:gray;
}
.cbBox .cbfrg{
    float: right;
}
.cbBox .cbfrg a{
    padding:10px 20px;
    background: #0088cc;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
.cardNma{
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #61a1df;
    text-indent: 10px;
    margin-top: 20px;
}
.cpname{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #eee;
}
.orderList{
    margin-top: 20px;
    background:white;
}
.orderbox{
    background:white;
}
.orderbox .orname{
    font-size: 26px;
    padding:5px 20px;
}
.orderbox .orname p{
    color:gray;
    font-size: 15px;
    margin-top: 10px;
}
.orname p span{
  color:#000;
  margin-right: 15px;
}
.orname p span i{
    font-style: normal;
    font-size: 22px;
    color:#e65a05;
    font-weight: bold;
}
.outtab .leftout{
    width: 30%;
    float: left;
    border:1px solid #c4c2c2;
    background: #eeeeee;
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
.outtab .rightout{
    width: 70%;
    float: left;
    border:1px solid #c4c2c2;
    height: 50px;
    line-height: 50px;
}
.outtab{
    width:50%;
    float: left;
    height: 50px;
    line-height: 50px;
}
.dateTable{
    padding-right: 30px;
}
.rightout {
    text-align: center;
}
.carformName{
    background: #f3f3f3;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin-right: 30px;
    text-indent: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
.inputBox1 .lbname{
    width:80px;
    float: left;
    height: 30px;
    line-height: 30px;
}
.inputBox1 .lbname::before{
    color:red;
    content: '*';

}
.inputBox1 input{
    float: left;
    width:150px;
    height: 30px;
    line-height: 30px;
    border:1px solid #eee;
}
.inputBox1 select{
    float: left;
    width:150px;
    height: 30px;
    border:1px solid #eee;
}
.inputBox1 .col-md-6{
    margin-top: 10px;
}
.inputBox1{
    margin-right: 30px;
    border:1px solid #eee;
    padding:10px 0px;
    padding-left: 10px;
}
.freename{
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    background:#fef1e9;
    font-weight: bold;
    font-size: 15px;
    color:#f76800;
}
.freeBox{
    background: #fffbf8;
    padding-bottom: 10px;
    /* border:1px solid #eee; */
}
.clName{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    /* margin-top: 70px; */
}
.clPrice{
    font-weight: bold;
    font-size: 26px;
    color:#f76800;
    /* margin-top: 70px; */
}
.wbiteBox{
    display: inline-block;
    padding:10px 25px;
    border:1px solid #64a0df;
    margin-top:10px;
    background:White;
  
}
.wbiteBox p{
    padding:0px;
    margin:0px;
}
.bluelf{
    color:#64a0df;
}
.frLabl{
    height: 50px;
    line-height: 50px;
    border: 1px solid #eee;
    /* border-bottom: 1px solid #eee; */
    margin-right: 30px;
    background: #fffbf8;
}
.frLabl .frlef{
  float: left;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
}
.frLabl .rgtef{
    float: right;
    font-size:24px;
    color:#fb6800;
    padding-right: 20px;
}
.freeJage{
    text-align: right;
    margin-right: 30px;
    border:1px solid #eeeeee;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
}
.freeJage span{
    color:#fb6800;
    font-weight: bold;
    font-size: 22px;
}
.sureBtn{
    display: block;
    width:200px;
    height: 50px;
    line-height: 50px;
    background: #fb6800;
    color:white;
    font-size: 22px;
    font-weight: bold;
    float: right;
    text-align: center;
    margin-right: 30px;
}


@media screen and (min-width:320px){
    .sureBtn{
        margin-right: 0px;
    }
    .freeBox,.freeJage,.frLabl,.inputBox1,.dateTable,.carformName{
        margin-right: 0px;
    }
    .dateTable{
        padding-right: 0px;
    }
    .tipBox{
        height: auto;
    }
    .reatbox{
        padding-left: 10px;
    }
    .logo img{
       width:220px;
     }
     .logo{
        padding:10px 0px;
      }
     .contactBox{
         display: none;
     }
     .moreLik{
        text-align: right;
        display: block;
    }
    .moreLik img{
        width:20px;
        margin-right: 10px;
    }
    .navLik{
        position: absolute;
        right: 0px;
        top:30px;
        width:100px;
        background: #1a1a1a;
    }
    .navLik .more a{
        padding:0px;
        color:white;
        text-align: center;
        display: block;
        font-size: 15px;
    }
    .more{
        display: none;
    }
    .navLik:hover .more{
        display: block;
    }
    .wordFrame h2{
        font-size: 18px;
    }
    .wordFrame h3{
        font-size: 12px;
    }
    .wordBtn a{
        display: inline-block;
        background: white;
        width: 100px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        color:#333;
        border-radius: 5px;
    }
    .wordBtn a+a{
        margin-left: 10px;
        background: #873790;
        color: #fff;
    }
 }
 @media screen and (min-width:768px){
    .tipBox{
        height: 240px;
    }
    .reatbox,.reatbox1{
        padding-left: 0px;
    }
    .reatbox1{
        float: right;
    }
    .reatbox2{
        float: left;
    }
    .wordFrame h2{
        font-size: 58px;
    }
    .wordFrame h3{
        font-size: 22px;
    }
    .wordBtn{
        margin-top:30px;
    }
    .wordBtn a{
        display: inline-block;
        background: white;
        width: 200px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        color:#333;
        border-radius: 5px;
    }
    .wordBtn a+a{
        margin-left: 10px;
        background: #873790;
        color: #fff;
    }
    .ahoverd{
        border-right: 2px solid black;
      }
      .ahoverd::before{
          content: ' ';
          position: absolute;
          left: 0px;
          width: 100%;
          top:-10px;
          display: block;
          height: 10px;
          background: white;
      } 
    .contactBox{
        display: block;
    }
    header{
       padding:10px 20px;
    }
    .logo{
        text-align: left;
    }
    .moreLik{
        display: none;
    }
    .more{
        display: block;
    }
    .navLik{
        position: static;
        right: 0px;
        top:30px;
        width:auto;
        background: white;
    }
    .navLik .more a{
        display: inline-block;
        color:#333;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        padding:0px 45px;
       
    }
 }
@media screen and (min-width:1200px){
   header{
      padding:40px 10%;
   }
   .navLik{
       padding:0px 10%;
   }
   .formBox,.listProbox{
       padding:0px 50px;
   }
   .listWrap,.mxWrap,.orderList{
    margin-left: 10%;
    margin-right: 10%;
}
   .freeBox{
       margin-right: 30px;
   }
   .clName{
    margin-top: 70px;
}
.clPrice{
    margin-top: 70px;
}
.sureBtn{
    margin-right: 30px;
}
.freeBox,.freeJage,.frLabl,.inputBox1,.dateTable,.carformName{
    margin-right: 30px;
}
.dateTable{
    /* padding-right: 30px; */
}
.freeBox{
  /* padding-right: 30px; */
}
 
}